Any recent Linux or Windows operating system should work. Python 3 is also needed. Further requirements and the commands needed for running the code are provided in the Readme.
If the requirements aren't met the program can be accesses via https://ktp-frontend.tonisworkshop.com.
Using Docker is optional.